.header{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background-color: rgb(142, 143, 245);

}
.navbar{
        float:left;
        width:0 auto;
        height: 40px;
        margin-top:30px;
        margin-left: 600px;
}
    
.navbar ul li{
        display:inline;
        margin-left: 7px;
        margin-right: 7px;
        width:0 auto
    }
.navbar a{
    text-decoration: none;
        color: rgb(239, 227, 241);
        font-size: large;
    }

.navbar a:hover{
        background-color: rgb(245, 245, 245);
        color: blueviolet;
        padding: 14px 14px;
        border: 1px solid coral
    }
.container{
        width: 100%;
        margin:0 auto;
        height: 815px;
        background-color: rgb(69, 74, 78);
}
.col-sm-4{
    width: 30%;
    float: left;
}

.img-responsive{
    width: 90%;
    height: 300px;
    margin-top: 45px;
    padding: 12px;
}
.row{
    width: 100%;
    margin: 0 auto;
    height: 765px;
    margin-top: 10px;
    padding: 12px;
}
.footer{
    width:100%;
    margin: 0 auto;
    height:50px;
    background-color: rgb(241, 230, 240);
    color: rgb(24, 27, 24);
    clear:both;
    position:relative;
    bottom:15px;
}
p{
    margin:0 auto;
    text-align: center;
}



