body {
	background-color: #f8afeebb;
	font-family: Arial, sans-serif;
}

header {
	background-color: #f116f1;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

nav a:hover {
	color: #555;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

section {
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	margin-top: 0;
}

footer {
	background-color: #6a0988;
	color: #fff;
	padding: 10px;
	text-align: center;
	clear: both;
}